<div id="search-bar-container">
  <app-search-bar (searchButtonClicked)="true" [search]="search_text" (searchChange)="searchChange($event)" />
<select [(ngModel)]="selectedFilter" (change)="selectfilter()" class="form-select">
  <option selected hidden value="">Select Book Filter</option>

  @for (item of filter_keys; track $index) {
    <option [value]="item">{{ item }}</option>
  }
</select>
</div>
<!-- Search: {{ search }}<br />
Clicked Count: {{ count }} -->
<div class="text-center mt-5">
  <button type="button" class="btn btn-primary" routerLink="/upsert">Ajouter</button>
  <button type="button" (click)="reset()" class="btn btn-Light">Réinitialiser</button>
  <button type="button" (click)="logout()" class="btn btn-danger dec">Déconnexion</button>
</div>

<table class="table mt-5">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Titre</th>
      <th scope="col">Auteur</th>
      <th scope="col">Pays</th>
      <th scope="col">Annee</th>
      <th scope="col" colspan="2">Operation</th>

    </tr>
  </thead>
  <tbody>

  <tbody>
    <tr *ngFor="let item of books$ | async">
      <td>{{ item.id }}</td>
      <td>{{ item.titre }}</td>
      <td>{{ item.auteur }}</td>
      <td>{{ item.pays }}</td>
      <td>{{ item.annee }}</td>
      <td>
        <div class="text-center">
          <button type="button" class="btn btn-secondary" routerLink="/upsert"
            [queryParams]="{id:item.id}">Modifier</button>
        </div>
      </td>
      <td>
        <div class="text-center">
          <button type="button" (click)="deleteLivre(item.id!)" class="btn btn-light">Supprimer</button>
        </div>
      </td>
    </tr>
  </tbody>
</table>