table, th, td {
  border:1px solid black;
  text-align: center;
}

table {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
}

select {
  width: 25%;
  margin-left: auto;
  margin-right: auto;
}

.dec {
position: fixed;
right: 0;
top: 0;
margin: 50px;
}