<div class="form-container">
  <h2>{{ isEditMode ? 'Modifier un livre' : 'Ajouter un livre' }}</h2>

  <form (ngSubmit)="onSubmit(bookForm)" #bookForm="ngForm">

    <!-- ID (souvent caché en mode ajout) -->
    <div class="form-group" *ngIf="isEditMode">
      <label for="id">ID</label>
      <input
        type="text"
        id="id"
        name="id"
        [(ngModel)]="this.book.id"
        readonly
      />
    </div>

    <!-- Titre -->
    <div class="form-group">
      <label for="titre">Titre</label>
      <input
        type="text"
        id="titre"
        name="titre"
        [(ngModel)]="this.book.titre"
        required
      />
    </div>

    <!-- Auteur -->
    <div class="form-group">
      <label for="auteur">Auteur</label>
      <input
        type="text"
        id="auteur"
        name="auteur"
        [(ngModel)]="this.book.auteur"
        required
      />
    </div>

    <!-- Pays -->
    <div class="form-group">
      <label for="pays">Pays</label>
      <input
        type="text"
        id="pays"
        name="pays"
        [(ngModel)]="this.book.pays"
      />
    </div>

    <!-- Année -->
    <div class="form-group">
      <label for="annee">Année</label>
      <input
        type="number"
        id="annee"
        name="annee"
        [(ngModel)]="this.book.annee"
      />
    </div>

    <!-- Boutons -->
    <div class="actions">
      <button type="submit" >
        {{ isEditMode ? 'Mettre à jour' : 'Ajouter' }}
      </button>

      <button type="button" class="cancel" (click)="onCancel()">
        Annuler
      </button>
    </div>
    <!-- [disabled]="this.bookForm?.invalid" -->

  </form>
</div>